# database
POSTGRES_PASSWORD=test
POSTGRES_USER=test
POSTGRES_DB=blog_db
PORT_DB=5432

# server
SERVER_HOST=0.0.0.0
SERVER_HTTP_PORT=8080
SERVER_GRPC_PORT=50051
#SERVER_DATABASE_URL=postgresql://test:test@0.0.0.0:5432/blog_db#local db instance
SERVER_DATABASE_URL=postgresql://test:test@blog_postgres:5432/blog_db#docker image db instance
SERVER_JWT_SECRET=hello_kitty
SERVER_CORS_ORIGINS=http://localhost:3030,http://0.0.0.0:3030

# web client
WEB_CLIENT_PORT=3000
NGINX_PORT=80