[package]
name = "client"
description = ""
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]
proto-generator = { path = "../proto-generator" }

[lints]
workspace = true