/* App-wide styling */
/* TODO Remove redundant styles */
html {
    height: 100%;
}

body {
    background-color: #1e212b;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    margin: 0;
}

#main {
    height: 100%;
}

#layout {
    display: flex;
    flex-direction: row;
    height: calc(100% - 32px);
    gap: 16px;
    padding: 16px;
}

#layout-content {
    display: flex;
    overflow: hidden;
    height: 100%;
}

#layout-content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
}

/* Navbar */
#navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#navbar a {
    color: #ffffff;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.2s ease;
    border: 1px solid white;
    border-radius: 6px;
    padding: 6px;
}

#navbar a:hover {
    cursor: pointer;
    color: #91a4d2;
}

#links {
    width: 400px;
    text-align: left;
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#nav-button {
    background: none;
    font-size: 16px;
    color: white;
    display: flex;
    border: white 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
    width: fit-content;
    cursor: pointer;
}

#layout-container, #layout-content {
    display: flex;
    flex: 1;
}

#posts-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#post-card {
    display: flex;
    flex-direction: column;
    border: white 1px solid;
    padding: 10px;
    gap: 12px;
}

#post-card-title {
    font-size: 20px;
}

#post-card-content {
    font-size: 12px;
}

#post-edit {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#form-label {
    display: flex;
    flex-direction: column;
}

#post-edit-controls {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}